/* font-family: 'Lato', sans-serif;
   font-family: 'PT Sans Narrow', sans-serif;
   color: #4b5847 */
   .nav-style {
       font-family: 'Lato', sans-serif!important;
       font-size: 2rem!important;
       color: #4b5847!important;
       font-weight: bold;
   }

   .mobile-menu-style {
       background-color: #f8f8f8!important;
   }

   .parallax1 {
        background-image: url(../img/girl.jpg);
        height: 800px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   }

   .first-paragraph {
       position: absolute;
       right: 10%;
       top: 10%;
       font-family: 'Lato', sans-serif;
       font-size: 7rem;
       color: #f8f8f8;
   }

   .sec-paragraph {
       position: absolute;
       left: 40%;
       top: 50%;
       font-family: 'Lato', sans-serif;
       font-size: 7rem;
       color: #f8f8f8;
   }

   .dev-style {
       font-family: 'Lato', sans-serif!important;
       font-size: 7rem;
       color: #4b5847;
   }

   .parallax2 {
        background-image: url(../img/field.jpg);
        height: 800px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   }

   .my-card-style {
       background-color: rgba(250, 250, 250, 0);
       box-shadow: none;
       min-height: 150px;
   }

   .my-character {
       font-family: 'Lato', sans-serif;
       color: #f8f8f8;
       font-size: 3rem;
       /* margin-top: 35px; */
   }

   .work-heading {
       background-color: #4b5847;
       font-family: 'Lato', sans-serif;
       color: #f8f8f8;
       font-size: 3rem;
   }

   .box-style {
       min-height: 300px;
   }

   .my-overlay {
       color: #4b5847;
       font-size: 1.5rem;
       font-family: 'Lato', sans-serif;
       padding-left: 2%;
   }

   .card-span {
       font-size: 1.1rem;
       padding-top: 2%;
       padding-right: 2%;
   }

   .description-style {
       font-family: 'PT Sans Narrow', sans-serif;
       color: #4b5847;
   }

   .uk-link, a {
       color: #4b5847!important;
   }

   .parallax3 {
        background-image: url(../img/equinox.jpg);
        height: 100%;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
   }

   .linkedin-action-dark {
        font-family: 'Lato', sans-serif;
        color: #4b5847;
        font-size: 3rem;
        padding-top: 20%;
        padding-left: 5%;
   }

   .linkedin-action {
        font-family: 'Lato', sans-serif;
        color: #f8f8f8;
        font-size: 3rem;
        padding-top: 10%;
        padding-right: 5%;

   }

   .icon-style {
       padding-left: 2%;
       color: #f8f8f8!important;
   }

   .footer-style {
       background-color: #4b5847!important;
       color: #f8f8f8!important;
       font-size: 3rem;
       display: block;
       min-height: 15vh;
   }
   
   .footer-button-margin {
       margin: 0 5% 2% 0;
   }

   .footer-button-style {
       border: 2px solid #f8f8f8;
       border-radius: 5%;
       color: #f8f8f8;
       font-size: 1.5rem;
   }

   /* Responsive */
   @media only screen and (max-device-width: 640px) {
    .nav-stile {
        font-size: 1.1rem!important;
        font-weight: 400;
    }

    .first-paragraph {
        font-size: 2rem;
    }

    .sec-paragraph{
        font-size: 2rem;
    }

    .dev-style {
        font-size: 3rem;
    }

    .my-character {
        font-size: 1.1rem;
    }

    .work-heading {
        font-size: 1.5rem;
    }

    .paragraph-style {
        font-size: 0.9rem!important;
    }

    /* .box-style {
        max-width: 100vh;
        height: auto;
    } */

    .linkedin-action-dark {
        font-size: 2rem;
        background-color: rgba(250, 250, 250, 0.4);
    }

    .linkedin-action {
        font-size: 2rem;
    }

    .footer-style {
        font-size: 1.2rem;
        min-height: 30vh;
    }
  }